<h1>
 <u>
     Recipes
 </u>
</h1>
<p>
    <strong>
        <em>
            This is my super awesome page of awesome Recipes!
        </em>
    </strong>
  <div>
    <input type=button onclick="location.href='login/'" value='login'>
      {% if user.is_authenticated %}
    <input type=button onClick="location.href='AddAuthor/'" value='click here to add an Author'>
    <input type=button onClick="location.href='AddRecipe/'" value='click here to add a recipe'>
    {% else %}
      {% for item in recipes %}
      <li><a href="/recipes/{{item.id}}/">{{item.title}}</a> -- by <a href="/authors/{{item.author.id}}">{{item.author.name}}</a>!!!!</li>
      {% endfor %}
      {% endif %}
  </ul>
  <p>
     *** MORE COMING SOON!!! CHECK BACK SOON FPR UPDATES.....
      sorry I couldnt resist trying to make it look just a little bit pretty :)
  </p>
  
</div>


</p>

<ul>
    {% for item in recipes %}
    <li><a href="/recipes/{{item.id}}/">{{item.title}}</a> -- by <a href="/authors/{{item.author.id}}">{{item.author.name}}</a>!!!!</li>
    {% endfor %}
</ul>
<p>
   *** MORE COMING SOON!!! CHECK BACK SOON FPR UPDATES.....
    sorry I couldnt resist trying to make it look just a little bit pretty :)
</p>
